* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-inline: auto;
    width: min(700px, 100% - 2rem);
}

header .container {
    margin-block-start: 5rem;
    margin-block-end: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button,
textarea,
input {
    border: none;
    font-family: inherit;
    padding: .75rem;
    border-radius: .25rem;
}

textarea,
input {
    border: 1px solid black;
}

textarea {
    resize: none;
}

button {
    padding-block: .5rem;
    font-size: larger;
    background-color: rgb(5, 196, 5);
    border: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 180, 2);
}

.button-disabled {
    cursor: default;
    opacity: .2;
}

.mensagem-sucesso {
    display: none;
    padding: 1rem;
    color: white;
    margin-block: 1rem;
    border-radius: .25rem;
    background-color: rgb(2, 180, 2);

}

.mensagem-erro {
    display: none;
    font-size: smaller;
    color: red;
    border-radius: .25rem;
}

.input-error {
    outline: 2px solid red;
    border: none;
}

.input-success {
    border: none;
    outline: 2px solid rgb(2, 180, 2);
}